@import "tailwindcss";
@import "./fonts.css";

@theme {
    --color-primary: #fefbf4;
    --color-secondary: color-mix(in srgb, var(--color-primary) 100%, black 5%);
    --color-dark: #1e2939;
    --spacing-prose: 65ch;
    --font-heading: "Inter, sans-serif";
    --font-body: "Lora", serif;
    --leading-xrelaxed: 1.875;
}

@layer base {
    
    :root {
        font-size: 16px;
    }

    body {
        color: var(--color-dark);
        background-color: var(--color-secondary);
        font-family: var(--font-body);
    }

    ::selection {
        background-color: var(--color-dark);
        color: var(--color-primary);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--gh-font-heading, "Lora, serif");
        font-weight: theme('fontWeight.semibold');
    }
    
    p {
        margin-bottom: theme("spacing.4");
    }
    
    a {
        text-decoration: underline;
        text-underline-offset: .2em;
        transition: theme('transitionDuration.DEFAULT') text-underline-offset theme('transitionTimingFunction.DEFAULT');
    
        &:hover {
            text-underline-offset: .4em;
            color: var(--color-light);
        }
    }

}

@layer components {

    .region {

        &.region-header {
            width: 100%;
        }
    }

    .tv-main-nav__toggle {
        background-image: url(../images/icons/menu-open.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        height: 1.5rem;

        &.tv-main-nav__toggle--close {
            background-image: url(../images/icons/menu-close.svg);
        }
    }

    input[type="submit"],
    input[type="button"],
    a.button,
    .button--primary {
        display: inline-block;
        font-family: var(--gh-font-heading, "Inter, sans-serif");
        text-decoration: none;
        text-transform: none;
        font-size: theme('fontSize.sm');
        letter-spacing: theme('letterSpacing.wide');
        letter-spacing: .5px;
        padding: .5rem 1rem;
        border-radius: theme('borderRadius.sm');
        background-color: theme('colors.gray.800');
        background-size: contain;
        color: var(--color-primary);
        cursor: pointer;
        font-weight: theme('fontWeight.semibold');
        border: 1px solid var(--color-dark);

        &:hover,
        &:focus-visible {
            color: var(--color-dark);
            background-color: var(--color-primary);
            border-color: theme('colors.gray.600');
            outline-offset: 1px;
            transition: theme('transitionDuration.DEFAULT') background-color, color theme('transitionTimingFunction.DEFAULT');
        }
    }

    .tv-main-nav {
        margin-top: var(--tv-main-nav-height, 0);
    }

    .pager {
        margin-block: 3rem;

        .pager__items {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: theme('spacing.1');
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: theme('fontSize.xs');
            font-family: var(--font-heading);

            .pager__item {

                a {
                    text-decoration: none;
                    display: inline-block;
                    height: 1.5rem;
                    min-width: 1.5rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    border: 1px solid transparent;

                    &:hover,
                    &:focus-visible {
                        border-color: var(--color-dark);
                    }
                }

                &.is-active {

                    a {
                        font-weight: theme('fontWeight.semibold');
                        background-color: var(--color-secondary);
                    }
                }

            }
        }

    }

    .region-footer {
        
        font-size: theme('fontSize.sm');

        .block {
            &:not(:first-child) {
                margin-top: 2rem;
            }

            p {
                margin: 0;
            }
        }

        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            li {
                &:not(:last-child) {
                    &::after {
                        content: '\00B7';
                        display: inline-block;
                        
                        margin: 0 .5em;
                    }
                }
            }
        }
    }

    #tv-viewport {
        min-height: calc(100svh - var(--tv-footer-height));
        transition: min-height theme('transitionDuration.DEFAULT') theme('transitionTimingFunction.DEFAULT');
    }

    .text-formatted {
        line-height: theme('lineHeight.relaxed');

        p, ul, ol, blockquote {
            margin-bottom: theme('spacing.4');
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: theme('spacing.2');
            margin-top: theme('spacing.6');

        }

        ul {
            list-style: disc;
            padding-left: theme('spacing.6');
        }
    }

    .messages {
        background-color: var(--color-secondary);
        box-shadow: theme('boxShadow.xs');
        padding: theme('spacing.4');
        border-radius: theme('borderRadius.md');
        margin: theme('spacing.4') 0;
        text-align: center;
        font-style: italic;
    }

    textarea,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    select {
        background-color: theme('colors.white');
        border: 1px solid var(--color-secondary);
        border-radius: theme('borderRadius.sm');
        padding: theme('spacing.2') theme('spacing.3');
        display: block;
        width: 100%;
    }

    form {

        label {
            display: block;
            font-weight: theme('fontWeight.semibold');
            margin-bottom: theme('spacing.1');
    
            &.form-required::after {
                content: "\002A";
                color: theme('colors.red.900');
            }
        }

        .description {
            font-size: theme('fontSize.xs');
            margin-bottom: theme('spacing.2');
            color: theme('colors.gray.600');
        }

        .form-actions {
            margin-top: theme('spacing.4');
        }

        .js-form-type-checkbox {
            display: flex;
            align-items: center;
            gap: theme('spacing.2');
        }

        fieldset {

            legend {
                font-weight: theme('fontWeight.semibold');
                margin-bottom: theme('spacing.2');
                font-family: theme(fontFamily.heading);
            }
        }
    }


    .contact-form,
    .user-login-form {
        display: grid;
        gap: theme('spacing.4');


        .form-actions {
            margin-top: theme('spacing.2');
            display: flex;
            gap: theme('spacing.4');
            flex-wrap: wrap;
        }
    }

}

.path-frontpage {
    .page-title {
        text-align: center;
    }
}

#simplenews-subscriptions-block-nl-form {
    .description {
        @apply sr-only;
    }

    .form-item {
        margin-bottom: theme('spacing.4');
    }
}

.altcha {
    label {
        font-weight: theme('fontWeight.normal');
        font-style: italic;

        &::before {
            content: "\00AB";
        }
        &::after {
            content: "\00BB";
        }
    }

    .altcha-footer.svelte-ddsc3z.svelte-ddsc3z {
        opacity: .9;
    }
}

#block-tresvuits-llicencia {
    img {
        display: inline-block;
        margin-inline: .25rem;
        margin-top: .5rem;
    }
}