@import "tailwindcss";
@import "./fonts.css";

@theme {
    --color-primary: #fefbf4;
    --color-secondary: color-mix(in srgb, var(--color-primary) 100%, black 5%);
    --color-dark: #1e2939;
    --spacing-prose: 65ch;
    --font-heading: "Inter, sans-serif";
    --font-body: "Lora", serif;
}

@layer base {
    
    :root {
        font-size: 16px;
    }

    body {
        color: var(--color-dark);
        background-color: var(--color-secondary);
        font-family: var(--font-body);
    }

    ::selection {
        background-color: var(--color-dark);
        color: var(--color-primary);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--gh-font-heading, "Lora, serif");
        font-weight: theme('fontWeight.semibold');
    }
    
    p {
        margin-bottom: theme("spacing.4");
    }
    
    a {
        text-decoration: underline;
        text-underline-offset: .2em;
        transition: theme('transitionDuration.DEFAULT') text-underline-offset theme('transitionTimingFunction.DEFAULT');
    
        &:hover {
            text-underline-offset: .4em;
            color: var(--color-light);
        }
    }

}

@layer components {

    .region {

        &.region-header {
            width: 100%;
        }
    }

    .tv-main-nav__toggle {
        background-image: url(../images/icons/menu-open.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        height: 1.5rem;

        &.tv-main-nav__toggle--close {
            background-image: url(../images/icons/menu-close.svg);
        }
    }

    .tv-button {
        display: inline-block;
        font-family: var(--gh-font-heading, "Inter, sans-serif");
        text-decoration: none;
        text-transform: uppercase;
        font-size: theme('fontSize.xs');
        letter-spacing: .5px;
        padding: .2rem .5rem;
        border-radius: .3rem;
        background-color: theme('colors.gray.800');
        background-size: contain;
        color: var(--color-light);
    }

    .tv-main-nav {
        margin-top: var(--tv-main-nav-height, 0);
    }

    .tv-pagination-arrow {
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid theme('colors.gray.800');
        min-width: 28px;
        height: 28px;
        border-radius: 16px;
        transition-property: background-color, color;
        transition-duration: theme('transitionDuration.DEFAULT');
        transition-timing-function: theme('transitionTimingFunction.DEFAULT');
        
        &:hover,
        &:focus {
            color: var(--color-primary);
            background-color: theme('colors.gray.800');
        }
    }

    .region-footer {
        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                &:not(:last-child) {
                    &::after {
                        content: '\00B7';
                        display: inline-block;
                        
                        margin: 0 .5em;
                    }
                }
            }
        }
    }

    #tv-viewport {
        min-height: calc(100svh - var(--tv-footer-height));
        transition: min-height theme('transitionDuration.DEFAULT') theme('transitionTimingFunction.DEFAULT');
    }
}